@model IEnumerable<EmployeeTask.Data.Models.Employee>
@{
    ViewData["Title"] = "Top five employees";
}
<h1>@ViewData["Title"]</h1>
<hr>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Full name
            </th>
            <th>
                Phone number
            </th>
            <th>
                Date of birth
            </th>
            <th>
                Montly salary
            </th>
            <th>
                All tasks
            </th>
            <th>
                Completed tasks
            </th>
            <th>
                Completed tasks in the last month
            </th>
            <th>
                Update
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>
                    @employee.Id
                </td>
                <td>
                    @employee.FullName
                </td>
                <td>
                    @employee.PhoneNumber
                </td>
                <td>
                    @employee.DateOfBirth.ToShortDateString()
                </td>
                <td>
                    @employee.MontlySalary
                </td>
                <td>
                    @employee.Tasks.Count()
                </td>
                <td>
                    @employee.Tasks.Where(t => t.IsCompleted).Count()
                </td>
                <td>
                    @employee.Tasks.Where(t => t.IsCompleted && t.DueDate >= DateTime.Now.AddMonths(-1)).Count()
                </td>
                <td>
                    <a asp-controller="Employee" asp-action="Edit" asp-route-id="@employee.Id" class="btn btn-secondary btn-sm"><b>Edit</b></a>
                    <a asp-controller="Employee" asp-action="Delete" asp-route-id="@employee.Id" class="btn btn-danger btn-sm"><b>Delete</b></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="Employee" asp-action="Create" class="btn btn-primary"><b>Create NEW employee</b></a>
<a asp-controller="Task" asp-action="Task" class="btn btn-primary"><b>Create NEW task</b></a>